<!DOCTYPE html>
<html>
    <head>
        <title>
            TRIAL
        </title>
    </head>
    <body>
        <h5>
            Submit X-Y column Names
        </h5>
        <form action="{{ url_for('form_data')}}" method="post">
    
            <label for="firstname">X Column:</label>
            <input type="text" id="firstname" name="x_col" placeholder="X">
            <label for="lastname">Y Column:</label>
            <input type="text" id="lastname" name="y_col" placeholder="Y">
            <button type="submit">Submit</button>
        </form>

        
    </body>
</html>