<!DOCTYPE html>
<html>
    <head>
        <title>
            TRIAL
        </title>
    </head>
    <body>
        <h5>
            Submit X-Y column Names
        </h5>
        <!--<img src="{{url_for('static', filename='download.jpg')}}" /> -->

        <!-- The url_for() function is very useful for dynamically building a URL for a specific function -->
        <!--form action="{{ url_for('form_data')}}" method="post"-->

        <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </p>
        <form method="post" action="{{ url_for('upload_file')}}" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="files[]" multiple="true" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>

        <form action="{{ url_for('form_data')}}" method="post">

        
            <label for="firstname">X Column:</label>
            <input type="text" id="firstname" name="x_col" placeholder="X">
            <label for="lastname">Y Column:</label>
            <input type="text" id="lastname" name="y_col" placeholder="Y">
            <label for="plot_type">Plot Type:</label>
            <input type="text" id="plot_type" name="plot_type" placeholder="Type">
            <button type="submit">Submit</button>
        </form>



        <table>
           
        </table>
        <img src="{{url_for('visualize')}}">



        
        
    </body>
</html>